/** 背景及字体 **/    
html,body.login{   
    font: 14px 'Microsoft YaHei', Arial, Lucida Grande, Tahoma, sans-serif;   
}   
/** 去掉链接下划线 **/    
html a{   
    text-decoration: none;   
}   
/** 登录DIV **/    
#login {   
    background:#fff;   
    border: 1px solid #ccc;   
    width:400px;   
    margin: 40px auto 0;   
    padding: 10px 10px 20px 10px;   
    border-radius:3px;   
    box-shadow:0 4px 10px -1px rgba(200, 200, 200, 0.7);   
}   
/** 替换logo **/    
.login h1 a{   
  
    width:400px;   
}   
/** 提示 **/    
.updated, .login .message {   
    background:#fff;   
    border: none;   
    text-align: center;   
}   
/** 表单 **/    
.login form {   
    box-shadow:none;   
    border: none;   
}   
#loginform, #registerform, #lostpasswordform{   
    background:transparent;   
    border:none;   
}   
/** 按钮 **/    
.button-primary,.submit .button-primary,#login form .submit input {   
    border-radius:1px;   
}